[submodule "libs/cmake_example_project"]
	path = libs/cmake_example_project
	url = https://github.com/seityaya/cmake_example_project

[submodule "libs/cmake_example_project_derive"]
	path = libs/cmake_example_project_derive
	url = https://github.com/seityaya/cmake_example_project_derive
